@page
@model Onath.Web.Pages.Musics.IndexModel

@{
    ViewData["Title"] = "Musics";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Musics</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Album)
            </th>
            <th>
                <i class="bi-download"></i>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Music) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album)
            </td>
            <td>
                <a href="@($"{Request.Scheme}://{Request.Host}{item.Url}")">Download</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
