@page
@model Onath.Web.Pages.Admin.Apps.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>App</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.CoverUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.CoverUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.App.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
