@page
@model Onath.Web.Pages.Wallpapers.DetailsModel

@{
    ViewData["Title"] = Model.Wallpaper.Title;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.Wallpaper.Title</h1>

  <div class="card">
        <img src="@($"{Request.Scheme}://{Request.Host}{Model.Wallpaper.Url}")" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Wallpaper.Title</h5>
            <p class="card-text">@Model.Wallpaper.Description</p>
            <a href="@($"{Request.Scheme}://{Request.Host}{Model.Wallpaper.Url}")" class="btn btn-primary">Download</a>

        </div>
    </div>

