@page
@model Onath.Web.Pages.Games.DetailsModel

@{
    ViewData["Title"] = Model.Game.Title;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.Game.Title</h1>

<div class="card">
    <img src="@($"{Request.Scheme}://{Request.Host}{Model.Game.CoverUrl}")" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Game.Title</h5>
        <p><span class="fw-bold">Genre: </span>@Model.Game.Genre</p>
        <p class="card-text">@Model.Game.Description</p>
        <a href="@($"{Request.Scheme}://{Request.Host}{Model.Game.Url}")" class="btn btn-primary">Download</a>

    </div>
</div>